.body
{
    margin:0;
    background-color: silver;
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px),
    linear-gradient(335deg, #b00 23px, transparent 23px),
    linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}
D2691E FF4500 FFFFF0

html
{
    font-size: 15px;
}

header
{
    background-color:#D2691E; 
    border-bottom: solid;
    border-bottom-color: white;
}

.midblocks
{
    background-color: #FF4500;
    border: solid;
    border-color: white;
}

.midcont
{
    max-width: 960px;
}

.logoblock
{
    border-radius:50%;
}

.navmobile
{
    background-color: #FF4500;
    border: solid;
    border-color: white;
    order: 2;
}

.logotext
{
    font-size: 3rem;
    color:#FFFFF0;
    text-decoration: none;
}

.navrefer
{
    text-decoration: none;
    font-size: 1.5rem;
    color:#FFFFF0;
    margin-left: auto;
    margin-right: auto;
}

.midheader
{
    color: #FFFFF0;
}

p
{
    color: #FFFFF0;
}

ol
{
    color:#FFFFF0;
}

ul{
    list-style-type: none;
    color:#FFFFF0;
}

a{
    transition-duration: 100ms;
    color:#FFFFF0;
}

a:hover{
    color:#FFFFF0;
}


table{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 90%;
    border: solid;
    border-color: #77b5e7;
    border-spacing: 0px;
    font-size: 0.5rem;
}

tr
{
    background-color: #021f47;
}

th
{
    color: #FFFFF0;
    border: solid;
    border-width: 1px;
    border-color: #77b5e7;
}

.nctr
{
    background-color: #1d3a63;
}

label
{
    width: 100px;
    color: #FFFFF0;
}

form
{
    display: flex;
    align-items: center;
    order: 5;
    border: solid;
    background-color: #FF4500;
    border-color: white;
}
  
form > *
{
    display: block;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 200px;
}

.radio
{
    color: #FFFFF0;
}

footer
{
    background-color:#D2691E; 
    border-top: solid;
    border-top-color: white;
}

@media screen and (min-width: 768px) {
    table
    {
        font-size: 1rem;
    }

    .navmobile
    {
        flex-direction: row !important;
        justify-items: center;
        position: absolute;
        top: 0px;
        right: 0px;
    }
}